<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692101396287-o7ksn4ns58d5siisbgnj963creqd0uev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692101396287-o7ksn4ns58d5siisbgnj963creqd0uev</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>692101396287-la4ugfgu5nhjgugutued2n5pkv5li8kn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCf0RqtWW_24UwaDsxFFz_B05NSZLm3n_8</string>
	<key>GCM_SENDER_ID</key>
	<string>692101396287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManagementApp</string>
	<key>PROJECT_ID</key>
	<string>task-mangement-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>task-mangement-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692101396287:ios:3d46f14829d17ee3ae458a</string>
</dict>
</plist>